body
{
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    line-height: 1.5;
    color: inherit;
}

ul
{
    list-style-type: none;
    text-decoration: none;
}

a{
    color: inherit;
    text-decoration: none;
}