.hero
{
width: 1440px;
background-color: #2E2F42; 
text-align: center;
}

.title
{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px; 
color: #FFFFFF;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom:  48px;
max-width: 496px;
}

.button
{
    display: inline-block;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-align: center;
}