.team
{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.title-team
{
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.name
{
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}

.job
{
    text-align: center;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}